<?xml version="1.0" ?>
<robot name="Diff_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Diff_robot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Diff_robot_description)/urdf/Diff_robot.trans" />
<xacro:include filename="$(find Diff_robot_description)/urdf/Diff_robot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.003594340276693269 -2.035670386573577e-07 0.05264230632550695" rpy="0 0 0"/>
    <mass value="2.2996391132406355"/>
    <inertia ixx="0.007868" iyy="0.008317" izz="0.014732" ixy="-0.0" iyz="-0.0" ixz="-0.000308"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Diff_robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Diff_robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_wheel_1">
  <inertial>
    <origin xyz="-5.790023100122029e-18 -0.012499999999999997 0.0" rpy="0 0 0"/>
    <mass value="0.1826050729899067"/>
    <inertia ixx="0.000124" iyy="0.000228" izz="0.000124" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.1 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Diff_robot_description/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.1 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Diff_robot_description/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_1">
  <inertial>
    <origin xyz="-5.790023100122029e-18 0.012499999999999997 0.0" rpy="0 0 0"/>
    <mass value="0.1826050729899067"/>
    <inertia ixx="0.000124" iyy="0.000228" izz="0.000124" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.1 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Diff_robot_description/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.1 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Diff_robot_description/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_1">
  <inertial>
    <origin xyz="0.0 6.433359000135586e-18 0.012499999999999997" rpy="0 0 0"/>
    <mass value="0.14366895903947824"/>
    <inertia ixx="4.8e-05" iyy="4.8e-05" izz="8.1e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.05 -0.0 -0.11" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Diff_robot_description/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.05 -0.0 -0.11" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Diff_robot_description/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolución1" type="continuous">
  <origin xyz="0.0 -0.1 0.05" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_wheel_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
</joint>

<joint name="Revolución2" type="continuous">
  <origin xyz="0.0 0.1 0.05" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Rígida3" type="fixed">
  <origin xyz="0.05 0.0 0.11" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lidar_1"/>
</joint>

</robot>
